* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Fraunces', serif, Arial;
    font-size: 16px;

    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header header header"
                         "article1 article1 img1 img1"
                         "img2 img2 article2 article2"
                         "img3 img3 img4 img4"
                         "testimonials testimonials testimonials testimonials"
                         "gallery gallery gallery gallery"
                         "footer footer footer footer";
}

img {
    vertical-align: top;
}

/* HEADER */
.header {
    grid-area: header;
    margin: 0px 0px;
    background: url("../images/desktop/image-header.jpg") skyblue center center no-repeat;
    background-size: cover;
    height: 1000px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header > .logo {
    width: 50%;
}

.header > nav {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: flex-start
}

.header > .logo {
    padding: 1rem 0 0 1rem;
}

.logo > img {
    cursor: pointer
}

nav > a {
    text-align: center;
    display: block;
    color: #FFF;
    text-decoration: none;
    margin-right: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 15px 20px;
}

nav > a:hover {
    background-color: #fff;
    padding: 15px 20px;
    color: #000;
    border-radius: 30px;
}

.header > h2 {
    width: 100%;
    text-align: center;
    color: #FFF;
    letter-spacing: 20px;
    font-size: 3rem;
    margin-bottom: 10rem;
}

.arrow-down {
    width: 100%;
    text-align: center;
    margin-bottom: 20rem;
}