html {
    scroll-behavior: smooth;
}

:root {
    --color-yellow-primary: hsl(51, 100%, 49%);
    --color-soft-red: hsl(7, 99%, 70%);
    --color-dark-cyan: hsl(167, 40%, 24%);
    --color-dark-blue: hsl(198, 62%, 26%);
    --color-grayish-blue: hsl(210, 4%, 67%);
    --color-dark-grayish-blue: hsl(232, 10%, 55%);
    --color-cyan: #90d4c5;
    --color-white-alpha-4: rgba(255, 255, 255, 0.4);
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #808080;

    --font-primary: 'Fraunces', serif, Arial;
    --font-secondary: 'Barlow', serif, Arial
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif, Arial;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                         "main"
                         "footer";
}

p {
    font-family: var(--color-font-secondary);
    font-weight: 600;
    font-size: 1.1rem;
}

img {
    vertical-align: top;
}

/* ============================ HEADER ============================ */
.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    margin: 0px 0px;
    background: url("../images/desktop/image-header.jpg") skyblue center center no-repeat;
    background-size: cover;
    /* height: 1000px; */
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header > .logo {
    width: 50%;
}

.header > .nav-header {
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-end;
}

.header > .bars {
    display: none;
    cursor: pointer;
}

.header > .logo {
    padding: 1rem 0 0 1rem;
}

.logo > img {
    cursor: pointer
}

.nav-header > a {
    text-align: center;
    display: block;
    color: #FFF;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 15px 20px;
}

.nav-header > a:hover {
    background-color: #FFF;
    background-color: var(--color-white);
    padding: 15px 20px;
    color: #000;
    color: var(--color-black);
    border-radius: 30px;
}

.nav-header > a:active {
    background-color: rgba(255, 255, 255, 0.4);
    background-color: var(--color-white-alpha-4)
}

.header > h2 {
    width: 100%;
    text-align: center;
    color: #FFF;
    color: var(--color-white);
    letter-spacing: 20px;
    font-size: 3rem;
    margin-bottom: 10rem;
}

.arrow-down {
    width: 100%;
    text-align: center;
    margin-bottom: 20rem;
}


/* ============================ ARTICLES ============================ */
.main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
}

.main > .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[7];
    grid-template-rows: repeat(7, auto);
        grid-template-areas: "article-1 img-1"
                         "img2 article2"
                         "img3 img4";
}

.articles img {
    width: 100%;
}

.article-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: article-1;
}

.articles > .article-design {
    width: 100%;
    height: 770px;
    padding: 1rem 8rem 3rem 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-1 > h2,
.article-2 > h2 {
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 3rem;
}

.article-1 > p,
.article-2 > p {
    margin-bottom: 2rem;
    line-height: 2.5rem;
    color: #808080;
    color: var(--color-gray);
    font-size: 1.1rem;
}

.article-1 a, 
.article-2 a {
    text-decoration: none;
    color: #000;
    color: var(--color-black);
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: 6px;
}

.article-1 a:hover {
    border-bottom: var(--yellow-primary) 5px solid;
    border-radius: 10px;
}

.img-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img-1;
    background: url("../images/desktop/image-transform.jpg") center center no-repeat;
    background-size: cover;
}

.img-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img2;
    background: url("../images/desktop/image-stand-out.jpg") center center no-repeat;
    background-size: cover;
}

.article-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: article2;
}

.article-2 a:hover {
    border-bottom: hsl(7, 99%, 70%) 5px solid;
    border-bottom: var(--color-soft-red) 5px solid;
    border-radius: 10px;
}

.img-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img3;
    background: url("../images/desktop/image-graphic-design.jpg") center center no-repeat;
    background-size: cover;
}

.img-4 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: img4;
    background: url("../images/desktop/image-photography.jpg") center center no-repeat;
    background-size: cover;
}

.img-3 > .contenido,
.img-4 > .contenido {
    height: 700px;
    text-align: center;
    padding-top: 23rem;
    padding-bottom: 0;
}

.contenido .font-img-3 {
    color: hsl(167, 40%, 24%);
    color: var(--color-dark-cyan);
}

.contenido .font-img-4 {
    color: hsl(198, 62%, 26%);
    color: var(--color-dark-blue);
}

.contenido h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.contenido p {
    line-height: 2rem;
    padding: 0rem 8rem;

}

.main > .testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
        grid-template-areas: "title"
                         "people";
    margin: 8rem 0;
}

/* ======================= TESTIMONIALS ======================= */
.testimonials > .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    color: var(--color-grayish-blue);
    margin-bottom: 4rem;
}

.testimonials > .people {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: repeat(1, auto);
        grid-template-areas: "testimonial-1 testimonial-2 testimonial-3";
    grid-gap: 2rem;
    gap: 2rem;
    width: 70%;
    margin: 0rem auto;
    text-align: center;
}

.people > .testimonial-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: testimonial-1;
}
.people > .testimonial-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: testimonial-2;
}
.people > .testimonial-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: testimonial-3;
}

.people .testimonial-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    margin: 4rem auto;
}

.people .image {
    width: 100%;
}

.people .description {
    color: hsl(232, 10%, 55%);
    color: var(--color-dark-grayish-blue);
    line-height: 2rem;
}

.people .center-final {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
}

.people .author {
    font-family: 'Fraunces', serif, Arial;
    font-family: var(--font-primary);
    font-weight: 900;
    margin-bottom: 0
}

.people .ocupation {
    color: hsl(210, 4%, 67%);
    color: var(--color-grayish-blue);
    font-size: .9rem;
}

.main > .mini-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.mini-gallery > img {
    width: 25%;
}

/* ============================ footer ============================ */
.footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: #90d4c5;
    background-color: var(--color-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.footer > .regresar {
    position: relative;
    bottom: 2rem;
}

.regresar > a {
    color: hsl(167, 40%, 24%);
    color: var(--color-dark-cyan);
    font-size: 2rem;
}

.regresar > a:hover {
    color: #FFF;
    color: var(--color-white);
}

.footer > .logo {
    margin-bottom: 2rem;
}

.footer > .enlaces-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 25rem;
    margin-bottom: 4rem;
}

.enlaces-footer > a {
    text-align: center;
    color: hsl(167, 40%, 24%);
    color: var(--color-dark-cyan);
    text-decoration: none;
}

.enlaces-footer > a:hover {
    color: #FFF;
    color: var(--color-white)
}

.footer > .redes-sociales {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.redes-sociales > a {
    color: hsl(167, 40%, 24%);
    color: var(--color-dark-cyan);
}

.redes-sociales > a:hover {
    color: #FFF;
    color: var(--color-white)
}

@media screen and (max-width: 800px) {
    .main > .articles {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
            grid-template-areas: "img-1"
                            "article-1"
                            "img2"
                            "article2"
                            "img3"
                            "img4";
    }

    /* Imgs de los artículos 1 y 2 */
    .img-1,
    .img-2 {
        height: 48rem;
    }

    .testimonials > .people {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: auto 2rem auto 2rem auto;
        grid-template-rows: repeat(3, auto);
            grid-template-areas: "testimonial-1" 
                            "testimonial-2" 
                            "testimonial-3";
        grid-gap: 2rem;
        gap: 2rem;
    }

    .main > .mini-gallery {
        flex-wrap: wrap
    }

    .mini-gallery > img {
        width: 50%;
    }

    /* Menú de barras */
    .header > .bars {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
    }

    .header > .bars {
        width: 50%;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
    }

    .header > .bars::before {
        content: "";
        height: 2rem;
        width: 2rem;
        margin-top: .4rem;
        background: url("../images/icon-hamburger.png") center center;
        background-size: 2rem 2rem;
        margin-right: .9rem;
    }

    .nav-header > a {
        display: none;
    }

    .header > .nav-header {
        display: none;
    }

    /* Comprimimos el menú superior y lo ingresamos a un desplegable */
    .header .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 3.3rem;
        color: #000;
        color: var(--color-black);
        width: 90%;
        left: 2rem;
    }

    .header .menu-bar::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #FFF;
        background-color: var(--color-white);
        position: absolute;
        z-index: 1;
    }

    .header .menu-bar::after {
        content: "";
        width: 0rem;
        height: 0rem;
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        /* Un header con un height de 1000px: */
        /* bottom: 24.5rem; */
        /* Un header con un height de 100vh */
        bottom: 22.5rem;
        border-left: 50px solid #FFF;
        border-left: 50px solid var(--color-white);
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent; 
        z-index: 3;
    }

    .menu-bar a {
        display: block;
        color: hsl(210, 4%, 67%);
        color: var(--color-grayish-blue);
        z-index: 2;
        margin-left: 3rem;
        margin: 1.5rem 0;
    }

    .menu-bar a:hover {
        background-color: hsl(51, 100%, 49%);
        background-color: var(--color-yellow-primary);
        padding: 15px 20px;
        border-radius: 30px;
        color: #000;
        color: var(--color-black);
    }

    .title-none {
        display: none;
    }

    .arrow-none {
        position: relative;
        bottom: 4rem;
    }
    .article-1 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .img-1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .img-2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .article-2 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .img-3 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .img-4 {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }

    .people > .testimonial-1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .people > .testimonial-2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .people > .testimonial-3 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
}